# Virtual environments
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs and local files
*.log
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Backup files
*.bak
*.swp
